<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <form class="formContainer" action="/admin/add-category?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
        <div class="inputContainer">
            <label class="label" for="title">Title</label>
            <input type="text" name="title" id="title" required>
        </div>
        <div class="inputContainer">
            <label class="label" for="categoryImage">Image</label>
            <input type="file" name="categoryImage" id="categoryImage" required>
        </div>
        <div class="inputContainer">
            <label class="label" for="url">Url</label>
            <input type="text" name="url" id="url">
        </div>
        <button class="btn" type="submit">Add category</button>
    </form>

<%- include('../includes/end.ejs') %>