<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <div class="loginContainer">
       <form class="login-form" action="/admin/add-category?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
           <div class="form-control">
               <label class="labelCategory" for="title">Název</label>
               <input type="text" placeholder="Hotovky" name="title" id="title" required>
           </div>
           <div class="form-control">
               <label class="labelCategory" for="categoryImage">Obrázek</label>
               <input type="file" name="categoryImage" id="categoryImage" required>
           </div>
           <!--
               <div class="inputContainer">
                   <label class="labelCategory" for="url">Url</label>
                   <input type="text" placeholder="/menu#hotovky" name="url" id="url">
               </div>
           -->
           <button class="btn" type="submit">Add category</button>
       </form>
   </div>

<%- include('../includes/end.ejs') %>