<link rel="stylesheet" href="/css/footer.css" />

<footer class="footer">
	<div class="footerContainer">
		<ul class="footerUl">
			<li class="footerLi">
				<img src="images/icons/phone.svg" />+420 111 111 111
			</li>
			<li class="footerLi">
				<img src="images/icons/email.svg" />info@qifood.com
			</li>
			<li class="footerLi">
				<img src="images/icons/location.svg" />U kapličky, brno 681 00
			</li>
		</ul>
		<div class="mapouter">
			<div class="gmap_canvas">
				<iframe
					width="100%"
					height="100%"
					id="gmap_canvas"
					src="https://maps.google.com/maps?q=brno&t=&z=15&ie=UTF8&iwloc=&output=embed"
					frameborder="0"
					scrolling="no"
					marginheight="0"
					marginwidth="0"
				></iframe>
			</div>
		</div>
	</div>
</footer>
</body>
</html>