.categoryesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 0 50px 100px 50px;
}

.categoryContainer {
    transition: all 300ms ease;
    padding: 25px 20px 30px 20px;
    width: 320px;
    height: 380px;
    background: #F8F8F8;
    box-shadow: -5px -5px 8px 0px rgba(224, 224, 224, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.20);
    border-radius: 45px;
    margin: 0 auto;
}

.categoryContainer:hover {
    box-shadow: -7px -7px 10px 0px rgba(224, 224, 224, 0.7), 7px 7px 12px 0px rgba(0, 0, 0, 0.30);
}

.categoryContainer:hover .categoryTitle{
    color: black !important;
}

.categoryImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryImage {
    border-radius: 30px;
    width: 90%;
    height: 275px;
}

.categoryTitleHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryUrl {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1300px) {
	.categoryTitle {
        font-size: 1.5rem;
    }
  }

@media screen and (max-width: 700px) {
	.categoryesContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 30px;
        padding: 0 100px 100px 100px;
    }
  }

  @media screen and (max-width: 550px) {
	.categoryesContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 30px;
        padding: 0 50px 100px 50px;
    }
  }

  @media screen and (max-width: 450px) {
	.categoryesContainer {
        padding: 0 20px 50px 20px;
    }
    .categoryContainer {
        padding: 25px 20px 30px 20px;
        width: 100%;
        height: 250px;
        border-radius: 35px;
    }
    .categoryImage {
        height: 200px;
    }
  }