.footer {
	display: flex;
	justify-content: center;
	padding-top: 200px;
}

.footerContainer {
	height: 100vh;
	background-image: url(/images/footer.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	z-index: 5;
	width: 100%;
	padding: 30vh 5vw 8vh 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footerSvg {
	position: absolute;
	left: 0;
	z-index: -5;
	height: 60%;
	width: 100%;
	overflow: hidden;
}

.footerSvg path {
	overflow: hidden;
}

.gmap_canvas {
	border-radius: 30px;
	overflow: hidden;
	background: none !important;
	height: 40vh;
	width: 40vw;
}

.footerUl {
	list-style: none;
	display: flex;
	flex-direction: column;
}

.footerLi {
	font-size: 1.8rem;
	line-height: 55px;
	color: #f8eded;
	margin: 32px 0px;
	display: inline-flex;
	align-items: center;
}

.footerLi img {
	width: 2.5vw;
	height: auto;
	margin-right: 30px;
}

.footerOpenHoursContainer {
	position: relative;
	top: -200px;
	z-index: 10;
	justify-self: flex-start;
	width: 650px;
	height: 400px;
	background: #fafafa;
	filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 0 30px 0;
}

.footerOpenHoursContainer::after {
	position: absolute;
	bottom: -30px;
	left: -30px;
	content: " ";
	border-radius: 50%;
	background: #ff6d59;
	width: 100px;
	height: 100px;
}

.footerOpenHoursContainer::before {
	position: absolute;
	top: -30px;
	right: -30px;
	content: " ";
	border-radius: 50%;
	background: #313131;
	width: 100px;
	height: 100px;
}

.OPTitle {
	font-size: 2.4rem;
	line-height: 74px;
	margin: 0 200px 0 0;
}

.OPLi {
	font-size: 1.7rem;
	line-height: 55px;
}

.OPUl {
	list-style: none;

	margin: 0;
}

.signature {
	position: absolute;
	z-index: 20;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}

.signature a {
	color: #ff6d59;
}

@media screen and (max-width: 1200px) {
	.footer {
		padding-top: 100px;
	}
	
	.footerContainer {
		height: 100vh;
		flex-direction: column;
		padding: 20vh 3vw 6vh 3vw;
		justify-content: space-evenly;
	}
	.footerLi {
		font-size: 1.6rem;
		line-height: 30px;
		color: #f8eded;
		margin: 20px 0px;
		display: inline-flex;
		align-items: center;
	}
	.gmap_canvas {
		height: 30vh;
		width: 60vw;
	}
	.footerOpenHoursContainer {
		position: relative;
		top: -100px;
		z-index: 10;
		width: 450px;
		height: 250px;
	}
	.OPTitle {
		font-size: 1.6rem;
		margin: 0 180px 0 0;
		line-height: 50px;
	}
	.OPLi {
		font-size: 1.2rem;
		line-height: 40px;
	}
	.footerOpenHoursContainer::before {
		top: -15px;
		right: -15px;
		width: 50px;
		height: 50px;
	}
	.footerOpenHoursContainer::after {
		bottom: -15px;
		left: -15px;
		width: 50px;
		height: 50px;
	}
}

@media screen and (max-width: 700px) {
	.footerLi {
		font-size: 1.3rem;
		line-height: 30px;
		color: #f8eded;
		display: inline-flex;
		align-items: center;
	}
	.footerContainer {
		padding: 10vh 1vw 3vh 1vw;
	}
	.footerOpenHoursContainer {
		position: relative;
		top: -70px;
		z-index: 10;
		width: 400px;
		height: 200px;
	}
	.OPTitle {
		font-size: 1.3rem;
		margin: 0 auto;
		line-height: 50px;
	}
	.OPLi {
		font-size: 1rem;
		line-height: 40px;
	}
	.OPUl {
		padding: 0;
	}
	.footerOpenHoursContainer::before {
		top: -15px;
		right: -15px;
		width: 50px;
		height: 50px;
	}
	.footerOpenHoursContainer::after {
		bottom: -15px;
		left: -15px;
		width: 50px;
		height: 50px;
	}
}


@media screen and (max-width: 500px) {
	.footer {
		overflow: hidden;
	}
}