.active {
	color: #ff6d59 !important;
	font-weight: bold !important;
	font-size: 1.5rem;
}

.warning {
    display: flex;
    position: relative;
    height: 3rem;
    margin: 0;
    z-index: 999;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: #ff6d59;
    color: #f8eded;
    font-size: 1.5rem;
}

.nav {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow-x: clip;
}

.navUl {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f8eded;
	padding: 0 10px;
}

.navLi {
	margin: 0 10px;
	list-style: none;
	font-size: 1.3rem;
}

.navLi a {
	color: #f8eded;
}

.wave {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	height: 75vh;
}

.header {
	margin-bottom: 80px;
	transition: all 300ms ease;
	height: 25vh;

}

.logo {
	width: 250px;
	height: auto;
}

.quantity {
	width: 40px;
	height: fit-content;
	padding: 5px;
	border-radius: 8px;
	border-width: 1px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 7, 0.062);
}

.quantityEdit form{
	display: flex;
	align-items: center;
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 22vh auto;
	background: #fafafa;
	border-radius: 30px;
	width: fit-content;
	height: auto;
	padding: 30px 25px;
	filter: drop-shadow(15px 18px 8px rgba(0, 0, 0, 0.05));
}

.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.inputContainer label {
	font-size: 1.2rem;
	margin-top: 15px;
	margin-left: 35px;
	align-self: start;
}

.input:focus {
	outline: 1px solid rgb(141, 116, 116) !important;
}

.input {
	border-radius: 5px;
	border:1px solid rgb(167, 167, 167);
	height: 2rem;
	width: 80%;
}



.categoryContainer {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.category {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
}

.category label{
	font-size: 1.2rem;
}


.imageLabel {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 150px;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #ff6d59;
	position: relative;
	z-index: 5;
	font-size: 1.2rem;
	cursor: pointer;
}

.image {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin: 20px 0 0 0;
	width: 80%;
}

.label {
	font-size: 1.2rem;
	margin-top: 10px;
	height: 2rem;
	
}

.image input[type="file"] {
	position: relative;
	top: -28px;
	left: 50px;
	z-index: 1;
}



.mobile-nav {
	width: 30rem;
	height: 100vh;
	max-width: 90%;
	position: fixed;
	right: 0;
	top: 0;
	background: white;
	z-index: 54;
	padding: 5rem 1rem 1rem 2rem;
	transform: translateX(100%);
	transition: 0.3s ease-out;
  }
  
.mobile-nav.open {
transform: translateX(0);
}

.mobile-navUl {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #f8eded;
	padding: 0 10px;
}

.mobile-navLi {
	margin: 0 10px;
	list-style: none;
	font-size: 1.8rem;
}

.mobile-navLi a {
	color: #313131;
}

.mobile-wave {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
}

.mobile-header {
	margin-bottom: 80px;
}

.mobile-logo {
	width: 250px;
	height: auto;
	z-index: 55;
}

.nav-container {
	display: flex;
	
}

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: 5;
	display: none;
}

#side-menu-toggle {
	display: none;
	cursor: pointer;
	width: auto;
	height: fit-content;
	border: none;
	background: transparent;
	z-index: 100;
	transition: all 300ms ease;
  }

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 53;
	display: none;
  }
	
.mobile-landing-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30vh;
	z-index: -1;
	display: none;

}

#side-menu-toggle-close {
	display: none;
	cursor: pointer;
	width: auto;
	height: fit-content;
	border: none;
	background: transparent;
	z-index: 100;
	position: absolute;
	top: 30px;
	right: 30px;
	transition: all 300ms ease;
}

.mobile-logo {
	display: none;
	cursor: pointer;
	width: auto;
	height: fit-content;
	background: transparent;
	z-index: 10;
	position: absolute;
}

.btn {
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
	margin: 5px 8px;
	position: relative;
	border-radius: 10px;
	border-width: 1px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 7, 0.062);
	transition: all 300ms ease-out;
}

.btn:hover {
	cursor: pointer;
	border: 1px solid #ff6d59;
	box-shadow: 3px 3px 2px 1px rgba(0, 0, 7, 0.15);
}

.deleteBtn {
	background: #FF6D59;
}

.orderBtn {
	border-radius: 20px;
	padding: 10px 28px;
	font-size: 1.2rem;
	font-weight: bold;
	border-width: 2px;
	transition: all 400ms ease-out;
}



.orderBtn:hover {
	cursor: pointer;
	border: 2px solid #ff6d59;
	box-shadow: 5px 5px 2px 1px rgba(0, 0, 7, 0.1);
}

.constainerLS {
	padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: 0 20px;
}

.constainerLS hr {
	width: 90%;
	margin: 0px;
}

.login {
	font-weight: 600;
}

.signup {
	font-weight: 400;
}

.loginContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form {
    background: #fafafa;
	width: 50vw;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px;
	margin: 50px 20px 100px 20px;
}

.form-control {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.form-control input {
	border-radius: 10px;
	height: 2rem;
	border-width: 1px;
	padding: 5px 10px;
}

.loginBtn {
	border-radius: 12px;
	padding: 10px 28px;
	font-size: 1.2rem;
	font-weight: bold;
	border-width: 2px;
	transition: all 400ms ease-out;
}

.loginBtn:hover {
	cursor: pointer;
	border: 2px solid #ff6d59;
	box-shadow: 5px 5px 2px 1px rgba(0, 0, 7, 0.1);
}

.noItems {
	text-align:center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 20px 150px 20px;
}

.noItems svg {
	width: 3rem;
	height: auto;
	margin: 0 20px;
}

.loggoutBtn {
	font-size: 0.9rem;
    border-width: 2px;
}

.loggoutBtn:hover {
	transition: all 400ms ease-out;
}

.templateUploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

.templateUploader label{
    font-size: 1.5rem;
    
}

.templateUploader input{
    margin: 10px 0 8px 0;
    
}

@media (max-width: 810px) {
	.nav-container {
		display: none;
	}
	#side-menu-toggle {
		display: flex;
		position: absolute;
		top: 30px;
		right: 30px;
	}
	.mobile-landing-page {
		display: block;
		overflow: hidden;
	}
	.mobile-wave {
		height: 42vh;
	}
	.header {
		height: 15vh;
	}
	.mobile-logo {
		display: flex;
	}
	.login-form {
		width: 90vw;
		padding: 30px 25px;
	}
	.noItems {
		flex-direction: column;
	}

	
}
  