.active {
	color: #ff6d59 !important;
	font-weight: bold !important;
	font-size: 1.5rem;
}

.warning {
    display: flex;
    height: 3rem;
    width: 100%;
    justify-content: center;
    background-color: #ff6d59;
    color: #f8eded;
    font-size: 1.5rem;
}

.nav {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navUl {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f8eded;
	padding: 0 10px;
}

.navLi {
	margin: 0 10px;
	list-style: none;
	font-size: 1.3rem;
}

.navLi a {
	color: #f8eded;
}

.wave {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
}

.header {
	margin-bottom: 80px;
}

.logo {
	width: 15vw;
	height: auto;
}

.quantity {
	width: 40px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 22vh auto;
	background: #fafafa;
	border-radius: 30px;
	width: fit-content;
	height: auto;
	padding: 30px 25px;
	filter: drop-shadow(15px 18px 8px rgba(0, 0, 0, 0.05));
}

.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.inputContainer label {
	font-size: 1.2rem;
	margin-top: 15px;
	margin-left: 35px;
	align-self: start;
}

.input:focus {
	outline: 1px solid rgb(141, 116, 116) !important;
}

.input {
	border-radius: 5px;
	border:1px solid rgb(167, 167, 167);
	height: 2rem;
	width: 80%;
}



.categoryContainer {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.category {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
}

.category label{
	font-size: 1.2rem;
}


.imageLabel {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 150px;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #ff6d59;
	position: relative;
	z-index: 5;
	font-size: 1.2rem;
	cursor: pointer;
}

.image {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin: 20px 0 0 0;
	width: 80%;
}

.label {
	font-size: 1.2rem;
	margin-top: 10px;
	height: 2rem;
	
}

.image input[type="file"] {
	position: relative;
	top: -28px;
	left: 50px;
	z-index: 1;
}

