@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 500;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black ;
}
/* mouse over link */
a:hover {
  color: #FF6D59 ;
}

