.orderCard {
	height: auto;
	background: #fafafa;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 30px;
	width: 70vw;
}

.ordersContainer {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
	margin-top: 50px;
	margin-bottom: 100px;
}