.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productImage {
    width: 15vw;
    height: 15vw;
    border-radius: 30px;
    margin: 40px;
}

.produtContainer {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 50px;
    padding: 30px 40px;
}

.produtContainerCart {
    display: grid;
    grid-template-columns: 1fr;
    background: #fff3f39c;
    border-radius: 50px;
    padding: 30px 40px;
}

.categoryImageMenu {
    width: 45%;
    height: 25%;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.categoryHeaderMenu {
    border-radius: 30px;
    padding-left: 5vw;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.categoryHeaderMenu h2{
    font-size: 4.5rem;
    color: #F8EDED;
}

.containerMain {
    display: flex;
    align-items: center;
}

.productPrice {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
   
}

.productPrice h2 {
    margin: 0 9px 0 0 ;
}

.productInfo h2{
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #FF6D59;
    margin-bottom: 5px;
}

.productInfo h3{
    margin-top: 5px;
}

@media screen and (max-width: 1000px) {
    .categoryImageMenu {
        width: 100%;
    }
    .categoryHeaderMenu h2{
        font-size: 4rem;
        padding: 20px;
    }
}

@media screen and (max-width: 750px) {
    .productPrice {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
    }
    
    .productInfo h2{
        font-size: 1.8rem;
    }
    
    .productInfo h3{
        margin-top: 5px;
    }
    .productImage {
        width: 15vw;
        height: 15vw;
        border-radius: 15px;
        margin: 20px;
    }
    .produtContainer {
        padding: 5px 0;
    }
    .productPrice form{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .productPrice form button{
        font-size: 0.6rem;
        margin: 5px 0;
        inline-size: 98px;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 550px) {
    .categoryHeaderMenu h2{
        font-size: 3rem;
        padding: 20px;
    }
    .productPrice {
        font-size: 0.8rem;
    }
    
    .productInfo h2{
        font-size: 1.5rem;
    }
    
    .productInfo h3{
        font-size: 0.8rem;
    }
    .productImage {
        width: 15vw;
        height: 15vw;
        border-radius: 15px;
        margin: 10px;
    }
}

@media screen and (max-width: 450px) {
    .categoryHeaderMenu h2{
        font-size: 2.5rem;
    }
}