.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px;
}

.templatesContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 20px;
}

.templateUploadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.templateFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.templateFormContainer form{
    width: 100%;
    background: #fafafa;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px;
	margin: 0px 20px 30px 20px;
}

.templateUploadContainer form{
    background: #fafafa;
	width: 40vw;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px;
	margin: 50px 20px 100px 20px;
}

.tableNumberInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableNumber {
    margin: 0 5px;
}

.tableNumberInput input{
    width: 10%;
}
